.stats {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #d4d1cb;

}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color:  rgba(66, 96, 96, 0.4);
}
.title {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.text {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    color: #871a2e;
}
