.wrapper {
    padding-top: 20px;
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);
}
.title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #871a2e;
}